{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>
    #back2Top {
        display: none !important;
    }
</style>
<!-- Body Elements -->
<div class="content-wrapper">
    <div id="shodan-alert-list" class="in collapse" style="height: auto;">
        <h5>Method</h5>
        <pre class="prettyprint prettyprinted" style="">
           {{method}}
        </pre>
        <h5>Request URL</h5>
        <pre class="prettyprint prettyprinted" style="">
            <span class="pln">{{url}}</span>
        </pre>
        <h5>Parameters</h5>
        <pre class="prettyprint prettyprinted" style="">
           <span class="pln">{{params}}</span>
        </pre>
        <h5>Sample Response</h5>
        <textarea style="background-color: #f5f5f5;box-sizing: border-box;resize: none;width: 100%;">{{details}}</textarea>
    </div>
</div>
<script>
   $( document ).ready(function() {
        $("textarea").height( $("textarea")[0].scrollHeight )
   });
</script>
{% endblock %}