{% extends 'main.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    {% if error == 0 and message|length > 0 %}
        <div class="notification success">{{ message }}</div>
    {% endif %}
    {% if error == 1 and message|length > 0 %}
        <div class="notification reject">{{ message }}</div>
    {% endif %}
    <section style="padding:0px">
        <div class="content">
            <div class="scroll-nav-wrapper fl-wrap">
                <div class="container">
                    <nav class="scroll-nav scroll-init">
                        <ul>
                            <li><a href="#sec2">Details</a></li>
                            <li><a href="#sec4">Reviews</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!--  section   -->
            <section class="gray-section no-top-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <!-- list-single-main-wrapper -->
                            <div class="list-single-main-wrapper fl-wrap" id="sec2">
                                <div class="breadcrumbs gradient-bg  fl-wrap"><a href="{% url 'index' %}">Home</a><a href="{% url 'search' %}?search={{city_name}}">Guide Listings</a><span>Guide Profile</span></div>
                                <!-- list-single-header -->
                                <div class="list-single-header list-single-header-inside fl-wrap">
                                    <div class="container">
                                        <div class="list-single-header-item">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    {% if guide_details.user_id %}
                                                        <img src="{% url 'show-image' pk=guide_details.user_id img_size='100*100' %}" style="float:left">
                                                    {% endif %}
                                                    <h2>{{guide_details.user_id|user_name}}</h2>
                                                    <span class="section-separator"></span>
                                                    <input type="hidden" value="{{guide_details.user_id|get_avg_rating}}" id="guide_rating" name='guide_rating'>
                                                    <div class='rating-stars text-center leave-rating-wrap'>
                                                        <ul id='stars1' class="leave-rating" style="float:left;">
                                                            {% if guide_details.user_id|get_avg_rating >= 1 %}
                                                                <li class='star selected' title='Poor' data-value="{{guide_details.user_id}}"
                                                                    style="cursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% else %}
                                                                <li class='star' title='Poor' data-value="{{guide_details.user_id}}"
                                                                    style="cursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% endif %}
                                                            {% if guide_details.user_id|get_avg_rating >= 2 %}
                                                                <li class='star selected' title='Fair' data-value="{{guide_details.user_id}}"
                                                                    style="cursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% else %}
                                                                <li class='star' title='Fair'
                                                                    data-value="{{guide_details.user_id}}" style="cursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% endif %}
                                                            {% if guide_details.user_id|get_avg_rating >= 3 %}
                                                                <li class='star selected' title='Good' data-value="{{guide_details.user_id}}"
                                                                    style="ursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% else %}
                                                                <li class='star' title='Good'
                                                                    data-value="{{guide_details.user_id}}" style="ursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% endif %}
                                                            {% if guide_details.user_id|get_avg_rating >= 4 %}
                                                                <li class='star selected' title='Excellent' data-value="{{guide_details.user_id}}"
                                                                    style="ursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% else %}
                                                                <li class='star' title='Excellent'
                                                                    data-value="{{guide_details.user_id}}" style="ursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% endif %}
                                                            {% if guide_details.user_id|get_avg_rating == 5 %}
                                                                <li class='star selected' title='WOW!!!' data-value="{{guide_details.user_id}}"
                                                                    style="ursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% else %}
                                                                 <li class='star' title='WOW!!!'
                                                                    data-value="{{guide_details.user_id}}"  style="ursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% endif %}
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="fl-wrap list-single-header-column">
                                                        {% if request.session.user.user_id|is_guide == False %}
                                                            <a class="custom-scroll-link" href="#sec5"><i class="fa fa-hand-o-right"></i>Add Review </a>
                                                            <a class="custom-scroll-link make-msg-modal" href="#"><i class="fa fa-envelope"></i>Sent Message </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- list-single-header end -->
<!--                                <div class="list-single-main-item fl-wrap">-->
<!--                                    <div class="list-single-main-item-title fl-wrap">-->
<!--                                        <h3>About Hotel </h3>-->
<!--                                    </div>-->
<!--                                    <p>Ut euismod ultricies sollicitudin. Curabitur sed dapibus nulla. Nulla eget iaculis lectus. Mauris ac maximus neque. Nam in mauris quis libero sodales eleifend. Morbi varius, nulla sit amet rutrum elementum, est elit finibus tellus, ut tristique elit risus at metus.</p>-->
<!--                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</p>-->
<!--                                    <a href="#" class="btn transparent-btn float-btn">Visit Website <i class="fa fa-angle-right"></i></a>-->
<!--                                    <span class="fw-separator"></span>-->
<!--                                </div>-->
                                <!-- list-single-main-item -->
                                <div class="list-single-main-item fl-wrap" id="sec4">
                                    <div class="list-single-main-item-title fl-wrap">
                                        <h3>Reviews -  <span> {{guide_reviews_list.count}} </span></h3>
                                    </div>
                                    <div class="reviews-comments-wrap">
                                        <!-- reviews-comments-item -->
                                        {% for each in guide_reviews_list %}
                                            <div class="reviews-comments-item">
                                                <div class="review-comments-avatar">
                                                    {% if each.user_id %}
                                                        <img src="{% url 'show-image' pk=each.user_id img_size='100*100' %}" style="float:left">
                                                    {% endif %}
                                                </div>
                                                <div class="reviews-comments-item-text">
                                                    <h4><a href="#">{{each.user_id|user_name}}</a></h4>

<!--                                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="5"> </div>-->
                                                    <input type="hidden" value="{{each.user_id|get_user_given_rating:guide_details.user_id}}" id="user_given_rating">
                                                    <div class='rating-stars text-center'>
                                                        <ul id='stars1' class="leave-rating" style="float:right;">
                                                            {% if each.user_id|get_user_given_rating:guide_details.user_id >= 1 %}
                                                                <li class='star selected' title='Poor' data-value="{{each.user_id}}"
                                                                    style="cursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% else %}
                                                                <li class='star' title='Poor' data-value="{{each.user_id}}"
                                                                    style="cursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% endif %}
                                                            {% if each.user_id|get_user_given_rating:guide_details.user_id >= 2 %}
                                                                <li class='star selected' title='Fair' data-value="{{each.user_id}}"
                                                                    style="cursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% else %}
                                                                <li class='star' title='Fair'
                                                                    data-value="{{each.user_id}}" style="cursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% endif %}
                                                            {% if each.user_id|get_user_given_rating:guide_details.user_id >= 3 %}
                                                                <li class='star selected' title='Good' data-value="{{each.user_id}}"
                                                                    style="ursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% else %}
                                                                <li class='star' title='Good'
                                                                    data-value="{{each.user_id}}" style="ursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% endif %}
                                                            {% if each.user_id|get_user_given_rating:guide_details.user_id >= 4 %}
                                                                <li class='star selected' title='Excellent' data-value="{{each.user_id}}"
                                                                    style="ursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% else %}
                                                                <li class='star' title='Excellent'
                                                                    data-value="{{each.user_id}}" style="ursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% endif %}
                                                            {% if each.user_id|get_user_given_rating:guide_details.user_id == 5 %}
                                                                <li class='star selected' title='WOW!!!' data-value="{{each.user_id}}"
                                                                    style="ursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% else %}
                                                                 <li class='star' title='WOW!!!'
                                                                    data-value="{{each.user_id}}"  style="ursor: not-allowed;pointer-events: none;font-size: 10px;">
                                                                    <i class='fa fa-star fa-fw'></i>
                                                                </li>
                                                            {% endif %}
                                                        </ul>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                    <p>{{each.review}}</p>
                                                    <span class="reviews-comments-item-date"><i class="fa fa-calendar-check-o"></i>{{each.last_update|date:"d M Y"}}</span>
                                                </div>
                                                <div class="edit_reviews">
                                                    <div class="fl-wrap list-single-header-column">
                                                        {% if request.session.user.user_id == each.user_id %}
                                                            <a class="custom-scroll-link" href="#sec5">
                                                                <i class="fa fa-pencil-square-o"></i>
                                                            </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        <!--reviews-comments-item end-->
                                    </div>
                                </div>
                                <!-- list-single-main-item end -->
                                <!-- list-single-main-item -->
                                {% if request.session.user  %}
                                    {% if request.session.user.user_id != guide_details.user_id %}
                                        <div class="list-single-main-item fl-wrap" id="sec5">
                                            <div class="list-single-main-item-title fl-wrap">
                                                <h3>Add Review  & Rate iteam</h3>
                                            </div>
                                                <!-- Review Comment -->
                                                <form  data-parsley-validate class="add-comment custom-form" method="post" action="{% url 'guide-review'%}" >
                                                    {% csrf_token %}
                                                    <!-- Add Review Box -->
                                                    <div id="add-review" class="add-review-box">
                                                        <div class="leave-rating-wrap">
                                                            <span class="leave-rating-title">Your rating  for this listing : </span>
                                                            <input type="hidden" name='rating' value="{{guide_details.user_id|get_guide_ratings:request.session.user.user_id}}" id="rating">
                                                            <input type="hidden" id="selected_rating_val" name="selected_rating_val">
                                                            <div class='rating-stars text-center'>
                                                                <ul id='stars' class="leave-rating">
                                                                    <li class='star li_star' title='Poor' data-id='1' data-value="{{guide_details.user_id}}">
                                                                        <i class='fa fa-star fa-fw'></i>
                                                                    </li>
                                                                    <li class='star li_star' title='Fair' data-id='2' data-value="{{guide_details.user_id}}">
                                                                        <i class='fa fa-star fa-fw'></i>
                                                                    </li>
                                                                    <li class='star li_star' title='Good' data-id='3' data-value="{{guide_details.user_id}}">
                                                                        <i class='fa fa-star fa-fw'></i>
                                                                    </li>
                                                                    <li class='star li_star' title='Excellent' data-id='4' data-value="{{guide_details.user_id}}">
                                                                        <i class='fa fa-star fa-fw'></i>
                                                                    </li>
                                                                    <li class='star li_star' title='WOW!!!' data-id='5' data-value="{{guide_details.user_id}}">
                                                                        <i class='fa fa-star fa-fw'></i>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    <input type="hidden" id="guideId" name="guideId" value="{{guide_details.user_id}}">
                                                    <fieldset>
                                                        {% if not logged_in_user_review %}
                                                            <textarea cols="40" rows="3" placeholder="Your Review:" name="review"></textarea>
                                                        {% else %}
                                                            <textarea cols="40" rows="3" placeholder="Your Review:" name="review">{{logged_in_user_review.review}}</textarea>
                                                        {% endif %}
                                                    </fieldset>
                                                    <button class="btn  big-btn  color-bg flat-btn">Submit Review <i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                                                </form>
                                            </div>
                                        <!-- Add Review Box / End -->
                                        </div>
                                    {% endif %}
                                {% endif %}
                                <!-- list-single-main-item end -->
                            </div>
                        </div>
                        <!--box-widget-wrap -->
                        <div class="col-md-4">
                            <div class="box-widget-wrap">
                                <!--box-widget-item -->
                                <div class="box-widget-item fl-wrap">
                                    <div class="box-widget-item-header">
                                        <h3>Location / Contacts : </h3>
                                    </div>
                                    <div class="box-widget">
                                        <div class="box-widget-content">
                                            <div class="list-author-widget-contacts list-item-widget-contacts">
                                                <ul>
<!--                                                    <li><span><i class="fa fa-map-marker"></i> Adress :</span> <a href="#">USA 27TH Brooklyn NY</a></li>-->
                                                    <li><span><i class="fa fa-phone"></i> Phone :</span> <a href="#">{{guide_details.user_id|get_user_ph_no}}</a></li>
                                                    <li><span><i class="fa fa-envelope-o"></i> Mail :</span> <a href="#">{{guide_details.user_id|get_user_email}}</a></li>
<!--                                                    <li><span><i class="fa fa-globe"></i> Website :</span> <a href="#">themeforest.net</a></li>-->
                                                </ul>
                                            </div>
<!--                                            <div class="list-widget-social">-->
<!--                                                <ul>-->
<!--                                                    <li><a href="#" target="_blank" ><i class="fa fa-facebook"></i></a></li>-->
<!--                                                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>-->
<!--                                                    <li><a href="#" target="_blank" ><i class="fa fa-vk"></i></a></li>-->
<!--                                                    <li><a href="#" target="_blank" ><i class="fa fa-whatsapp"></i></a></li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                                <!--box-widget-item end -->

                            </div>
                        </div>
                        <!--box-widget-wrap end -->
                    </div>

            </section>
            <!--  section  end-->
            <div class="limit-box fl-wrap"></div>
        </div>
        <!--  content  end-->
        <div class="bmw-overlay"></div>
        <!--booking-modal-wrap end -->
        <a class="to-top"><i class="fa fa-angle-up"></i></a>
        {% if 'user' in request.session %}
            <div class="main-register-wrap make-msg-clnt-modal modal">
                <div class="main-overlay"></div>
                <div class="main-register-holder">
                    <div class="main-register fl-wrap">
                        <div class="close-modal" id="close-modal"><i class="fa fa-times"></i></div>
                        <h3 style="margin-top: -40px;">Message Board</h3>

                        <!-- Modal body -->
                        <div class="modal-body make_msg_modal">
                            {% include 'message_board/make_message.html' %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/guide.js' %}"></script>
{% endblock %}